.taka-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    display: table
}

.taka-table {
    border: 1px solid #cb4916d2
}

.taka-table tr {
    border-bottom: 1px solid #f15d24be;
    border-left: 1px solid #f15d24be
}

/* 
.taka-table tr:nth-child(odd) {
    background-color: #fff
}
*/

.taka-table tr:nth-child(even) {
    background-color: #f17443cf
}

.taka-table tr:nth-child(odd) {
    background-color: #f79618cf
}

.taka-table th {
    padding: 6px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: center;
    border-left: 1px solid #f2d6cbbe
}

.taka-table th:nth-last-child(-n+2),
.taka-table td:nth-last-child(-n+2) {
    text-align: center;
}

.taka-table td {
    padding: 6px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: center;
    border-left: 1px solid #f6b499d6
}

.taka-table th:first-child,
.taka-table td:first-child {
    padding-left: 16px
}

.taka-container {
    padding: 0.01em 16px
}

.taka-container:after,
.taka-container:before {
    content: "";
    display: table;
    clear: both
}